/*
 * Example overlay for esp32s3_devkitc/esp32s3/procpu.
 *
 * Exposes i2c0 and 8 GPIOs as a CP2112 device.
 */
#include <zephyr/dt-bindings/pinctrl/esp32s3-pinctrl.h>

/ {
	cp2112: cp2112 {
		compatible = "zephyr,cp2112-emul";
		i2c-bus = <&i2c0>;
		gpios = <&gpio0 0  GPIO_ACTIVE_HIGH>, // BOOT BTN
			<&gpio0 1  GPIO_ACTIVE_HIGH>,
			<&gpio0 2  GPIO_ACTIVE_HIGH>,
			<&gpio0 4  GPIO_ACTIVE_HIGH>,
			<&gpio0 5  GPIO_ACTIVE_HIGH>,
			<&gpio0 6  GPIO_ACTIVE_HIGH>,
			<&gpio0 7  GPIO_ACTIVE_HIGH>,
			<&gpio1 16 GPIO_ACTIVE_HIGH>; // GPIO48 - on-board WS2812 RGB
	};
};

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_GPIO8>, <I2C0_SCL_GPIO9>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
};

&i2c0 {
	/* SDA: GPIO8, SCL: GPIO9 */
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};

&zephyr_udc0 {
	status = "okay";
	cp2112_hid: cp2112_hid {
		compatible = "zephyr,hid-device";
		protocol-code = "none";
		in-report-size = <64>;
		in-polling-period-us = <1000>;
		out-report-size = <64>;
		out-polling-period-us = <1000>;
	};
};